# Created by https://www.gitignore.io/api/codeigniter

### CodeIgniter ###
*/config/config.php
*/config/database.php
*/config/constants.php
*/uploads/*
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

### CodeIgniter Patch ###
#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

# End of https://www.gitignore.io/api/codeigniter