body {
    font-family: "Montserrat";
    font-size: 2.5vmin;
    position: relative;
    min-height: 100%;
}

h4 {
    font-size: 3.2vmin;
}

.tv {
    font-size: 4vmin;
}

.no-scroll {
    overflow: hidden;
}

.meteo {
    text-align: left;
    color: #ec4363;
    font-height: 400;
    line-height: 22.25px;
    padding-top: 20px;
}

.heure {
    color: #ec4363;
    font-size: 72px;
}

.nomarge {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

ul.add li:before {
    content: "+ ";
    margin-right: 10px;
    color: green;
}

ul.remove li:before {
    content: "- ";
    margin-right: 10px;
    color: red;
}

ul.other li:before {
    content: "* ";
    margin-right: 10px;
    color: orange;
}

ul li {
    color: black;
}

.majuscule {
    text-transform: capitalize;
}

#myCarousel .nav a small {
    display: block;
}

#myCarousel .nav {
    background: #eee;
}

#myCarousel .nav a {
    border-radius: 0px;
}

.date {
    text-align: center;
    color: #ec4363;
    font-height: 400;
    line-height: 22.25px;
    padding-top: 20px;
}

a.lien,
a.lien:visited {
    color: #ec4363;
    font-height: 400;
}

.center {
    margin: auto;
}

h3:first-letter {
    color: #ec4363;
}

p.article {
    text-align: justify;
    white-space: pre-line;
}

.foot {
    float: bottom;
    bottom: 0;
}

.footer {
    position: relative;
    bottom: 0;
    text-align: center;
}

.red {
    color: #ec4363;
}

.green {
    /*	color: #33e1cf; COULEUR PLUS CLAIRE DU STYLE YNOV*/
    color: #00ae9c;
}

h3.titrenews {
    text-align: center;
}

.vertical-align {
    display: flex;
    flex-direction: row;
}

.carousel-caption {
    color: inherit;
    text-shadow: 0;
    padding-right: 2%;
}

.size-72 {
    font-size: 72px;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.v-center {
    display: flex;
    align-items: center;
}

#progress {
    position: relative;
    height: 5px;
    background-color: rgb(51, 225, 207);
}

#bar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: rgb(204, 36, 72);
}

.descriptionInfos {
    text-align: justify;
    font-style: italic;
    margin-bottom: 20px;
    margin-top: 8px;
    border-left: 3px solid white;
    padding-left: 10px;
}

@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
.spinner input {
    text-align: right;
}

.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 2%;
    vertical-align: middle;
    display: table-cell;
}

.input-group-btn-vertical>.btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}

.input-group-btn-vertical>.btn:first-child {
    border-top-right-radius: 4px;
}

.input-group-btn-vertical>.btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
    position: absolute;
    top: 0;
    left: 4px;
}

.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover,
.item.list-group-item:hover {
    background: #428bca;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item:before,
.item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
    height: 20%;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}

.btn-circle.btn-lg {
    width: 40px;
    height: 40px;
    padding: 5px 8px;
    font-size: 12px;
    line-height: 1.33;
    border-radius: 25px;
}

.feedback {
    position: fixed;
}

.feedback textarea {
    height: 150px;
}

.feedback .screenshot {
    position: relative;
    top: -24px;
    right: 10px;
    opacity: .6
}

.feedback .screenshot:hover {
    opacity: 1
}

.feedback .reported p,
.feedback .failed p {
    height: 190px
}

.feedback.left {
    left: 5px;
    bottom: 15px
}

.feedback.right {
    right: 5px;
    bottom: 15px
}

.feedback .dropdown-menu {
    width: 290px;
    height: 320px;
    bottom: 50px;
}

.feedback.left .dropdown-menu {
    left: 0px
}

.feedback.right .dropdown-menu {
    right: 0px
}

.feedback .hideme {
    display: none
}

.btn-perso {
    border-radius: 0;
    border: none;
    margin-bottom: 5px;
}

.btn-danger {
    background-color: rgb(228, 42, 81);
    opacity: 0.8;
    border: none;
}

.btn-danger:hover {
    background-color: rgb(228, 42, 81);
    opacity: 1;
}

.btn-danger:focus,
.btn-danger:active {
    background-color: rgb(228, 42, 81);
    border: none;
}

.btn-danger.disabled {
    background-color: rgb(228, 42, 81);
    opacity: 0.4;
    border: none;
}

.btn-success {
    background-color: rgb(21, 161, 138);
    opacity: 0.8;
    border: none;
}

.btn-success:hover {
    background-color: rgb(21, 161, 138);
    opacity: 1;
}

.btn-success.disabled {
    background-color: rgb(21, 161, 138);
    opacity: 0.4;
    border: none;
}

.feedbtn {
    background-color: rgb(228, 42, 81);
    opacity: 0.8;
}

.feedbtn:hover {
    background-color: rgb(228, 42, 81);
    opacity: 1;
}


/* LOGIN */

.login {
    border: none;
    border-radius: none;
    border-bottom: 1px solid #BBBBBB;
    display: inline-block;
    width: 90%;
    background: none;
    float: right;
    text-align: right;
}

.login::-webkit-input-placeholder {
    text-align: right;
}

.login:hover {
    border-bottom: 1px solid rgb(21, 161, 138);
}

.login:active,
.login:focus {
    border-bottom: 1px solid rgb(21, 161, 138);
}

.login::before {
    display: inline-block;
}

i.input {
    margin-bottom: 10px;
    float: left;
    height: 20px;
    padding: auto;
}

.loginform {
    padding-top: 30px;
    background-color: #E1E1E1;
}

label.connexion {
    width: 100%;
    text-align: center;
}

.badge-danger {
    background-color: red;
}

.badge-yellow {
    background-color: orange;
}

.adminBlock {
    background-color: #F1F1F1;
    padding: 10px;
    margin-bottom: 5px;
    transition-duration: 2s;
    transition-timing-function: ease-out;
}

.adminBlock:hover {
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    background-color: #D1D1D1;
}

i.view {
    color: #5bc0de;
}

i.view:hover {
    color: #31b0d5;
}

i.view:focus {
    color: #269abc;
}

.update {
    color: orange;
    margin-bottom: 10px;
}

.updateOk {
    color: green;
    margin-bottom: 10px;
}

.updateWrong {
    color: red;
    margin-bottom: 10px;
}

.currentVersion {
    background-color: green;
}

.oldVersion {
    background-color: red;
}

.resetrow {
    margin: -15px 0;
}